body{
    text-align: center;
    border: 10px; 
    float: inherit;
    border: 10px floralwhite;
    background-color: floralwhite;
     height: 40em;
     margin-top: 30px;
     margin-right: 20px;
     background-color: white;
    font-size: 20px;
}